.greeting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:2em;
}

.categories{
    display:flex;
    text-align: center;
}

.image{
    border-radius: 15%;
    margin:0.5em;
}


